.code-listing {
  border-radius: 15px !important;
  border-width: 0 !important;
}

pre.source {
  border-radius: 15px !important;
  border-width: 0 !important;
}

h1.title {
  font-weight: 700 !important;
  font-family: var(--apple-display-font-stack) !important;
}

h1 > small {
  font-weight: 600 !important;
  font-family: var(--apple-display-font-stack) !important;
}

:root {
  --code-block-style-elements-padding: 8px 14px !important;
  --apple-display-font-stack: var(
    --typography-html-font,
    "SF Pro Display",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif
  );
  --apple-body-font-stack: var(
    --typography-html-font,
    "SF Pro Text",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif
  );

  --aside-border-width: 1px;
  --aside-border-radius: 15px;

  --badge-border-radius: 3px;
}

body {
  font-family: var(--apple-body-font-stack) !important;
  letter-spacing: -0.022em !important;

  --color-grid: var(--color-fill-gray-tertiary);

  --color-figure-blue: #06c !important;
  --color-figure-yellow: #9e6700;
  --color-figure-orange: #bf4800 !important;
  --color-figure-light-gray: #696969 !important;

  --color-fill-blue: #0071e3 !important;
  --color-fill-gray-tertiary: #424245 !important;
  --color-fill-orange-secondary: #fff9f4 !important;
  --color-fill-yellow-secondary: #fffbf2;
  --color-fill-light-gray-secondary: #f5f5f7;

  --color-aside-deprecated: var(--color-figure-orange) !important;

  --color-aside-important: var(--color-figure-yellow) !important;
  --color-aside-important-background: var(
    --color-fill-yellow-secondary
  ) !important;
  --color-aside-important-border: var(--color-figure-yellow) !important;

  --color-aside-note: var(--color-figure-light-gray) !important;
  --color-aside-note-background: var(
    --color-fill-light-gray-secondary
  ) !important;
  --color-aside-note-border: var(--color-figure-light-gray);
}

@media screen and (prefers-color-scheme: dark) {
  body[data-color-scheme="auto"] {
    --color-fill-blue: #0071e3 !important;
    --color-fill-gray-quaternary: #333336 !important;
    --color-fill-orange-secondary: #290d00 !important;

    --color-figure-gray-secondary: #86868b !important;
    --color-figure-gray-tertiary: #6e6e73 !important;

    --color-code-background: var(--color-fill-gray-quaternary) !important;
  }
}

aside .label {
  font-family: var(--apple-body-font-stack) !important;
}

aside.deprecated {
  box-shadow: 0 0 1px 0 var(--color-aside-deprecated-border) inset,
    0 0 1px 0 var(--color-aside-deprecated-border) !important;
}

aside.note {
  box-shadow: 0 0 1px 0 var(--color-aside-note-border) inset,
    0 0 1px 0 var(--color-aside-note-border) !important;
}

aside.important {
  box-shadow: 0 0 1px 0 var(--color-aside-important-border) inset,
    0 0 1px 0 var(--color-aside-important-border) !important;
}

.availability {
  font-family: var(--apple-body-font-stack) !important;
}

.leaf-link {
  font-family: var(--apple-body-font-stack) !important;
}

.filter__wrapper {
  border-radius: 12px !important;
}

.quick-navigation-open {
  border-radius: 12px !important;
}

.contenttable-title {
  font-weight: 600 !important;
  font-family: var(--apple-display-font-stack) !important;
  letter-spacing: 0.009em !important;
}

code {
  font-family: SF Mono, SFMono-Regular, ui-monospace, Menlo, monospace !important;
}

.title {
  font-weight: 600 !important;
}

.nav-menu-settings {
  font-family: var(--apple-body-font-stack) !important;
  letter-spacing: -0.016em !important;
}

.color-scheme-toggle {
  --toggle-border-radius-outer: 12px;
  --toggle-border-radius-inner: 10px;
}

.color-scheme-toggle {
  font-family: var(--apple-body-font-stack) !important;
}

.eyebrow {
  font-family: var(--apple-display-font-stack) !important;
  font-weight: 500 !important;
  letter-spacing: 0.011em;
}

h2 {
  font-family: var(--apple-display-font-stack) !important;
  font-weight: 600 !important;
  letter-spacing: 0.004em;
}

h3 {
  font-family: var(--apple-display-font-stack) !important;
  font-weight: 600 !important;
  letter-spacing: 0.007em;
}

h4 {
  font-family: var(--apple-display-font-stack) !important;
  font-weight: 600 !important;
  letter-spacing: 0.009em;
}

.declaration-source-link {
  font-family: var(--apple-body-font-stack) !important;
}

.badge {
  font-family: var(--apple-body-font-stack) !important;
}
